<form method="post" action="/todos/<%= to_to_items[:id] %>" id="update">
  <input type="hidden" name="_method" value="patch">
  <textarea name="todos" id="todos"><%= todo[:body] %></textarea><br>
</form>
</div>
<form action="/todos/<%= to_do_items[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
</div>
<button class="button" form="update">Update Message</button>
<form method="get" action="/">
  <button class="button">Home</button>
</form>
</div>